{% load static %}
<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#login").click(function () {
            var password = $("#val1").val();
            var confirmPassword = $("#val2").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
<style>
 .r1 {
        border-radius:5px;
        padding: 10px;
}
 .tab {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-radius: 10px;
	font-style: italic;
	color: white;
	font-weight: bold;
}

 .h1 {
	color: white;
	text-decoration: underline;
}
</style>
<link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body background="{% static '0430a263502e44a9c594096cc312982e.jpg' %}" >
<center><form action={% url 'reg' %} method='GET'>
<h1 class="h1">Fill in the details</h1>
<table class="tab" background="{% static '0430a263502e44a9c594096cc312982e.jpg' %}" >
  <tr><td><label>UserName<label></td><td><input type="text" name="name" class="r1" required></td></tr>
  <tr><td><label>Password</label></td><td><input class="r1" type="password" name="pass" id="val1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  oninvalid="this.setCustomValidity('Must contain at least one number and one uppercase and lowercaseletter, and at least 8 or more characters')"  required></td></tr>
  <tr><td><label>Confirm Password</label></td><td><input class="r1" type="password" id="val2" required></td></tr>
  <tr><td><lable>Contact No</label></td><td><input class="r1" type="tel" name="mobile"  pattern="[7-9]{1}[0-9]{9}" required></td></tr>
  <tr><td><label>Email-Id </label></td><td><input class="r1" type="email" name="email" required></td></tr>
</table></br>
<button type="submit" name="login" id="login" value="submit">Login</button>
</form></center>
</body>
</html>
